#conteudo {
    margin-left: 15vw;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 40px;
}

.hide {
    display: none;
}

/* BOTOES */

#conteudo #botoes {
    display: flex;
}

#conteudo #botoes .botao {
    font-size: 60px;
    padding: 0px 40px 0px 40px;
    cursor: pointer;
}

#conteudo #botoes #botaoUsuarios {
    border-right: 1px #000000 solid;
}

.ativo {
    border-bottom: 6px #4179b2 solid;
    color: #6696c6;
}

/* KPIS */

.kpis {
    display: flex;justify-content: space-between;
    gap: 200px;
}

.box-kpi {
    width: fit-content;
}

.box-kpi .titulo {
    background-color: #4179b2;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
}

.box-kpi .dado {
    border: solid #8F8F8F;
    border-width: 0px 0.5px 0.5px 0.5px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

/* GRÁFICOS */

.tituloGrafico {
    font-size: 55px;
    font-weight: 450;
}

.graficos {
    display: flex;
    gap: 30px;
}

.grafico {
    display: flex;
    flex-direction: column;
}

#divOpcoes {
    display: flex;
    gap: 20px;
}

#divOpcoes p {
    color: #8F8F8F;
    font-size: 30px;
    font-style: italic;
}

#divOpcoes select {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    color: #235b93
}