@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 15vw;
    height: 100vh;
    background-color: #4179b2;
    position: fixed;
}

.conteudo {
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    width: 85vw;
}

.conteudo .section {
    width: 71%;
    border: 1px solid #000000;
    padding: 60px 60px 0px 60px;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo .section .head {
    display: flex;
    gap: 100px;
    padding-bottom: 40px;
}

.conteudo .section .head .head-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.conteudo .section .head .head-conteudo div {
    display: flex;
    border: 1px solid #000000;
    height: 60px;
    padding: 10px;
    font-size: 40px;
    border-radius: 8px;
    gap: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteudo .section .head .head-conteudo h1 {
    font-size: 80px;
    justify-self: start;
}

.conteudo .section .head .head-conteudo #botaoPrincipal {
    background-color: #4179b2;
    color: #FFFFFF;
    border: none;
}

/* DESAFIO */

#desafio {
    display: flex;
    gap: 30px;
    padding: 30px 0px 30px 0px;
    border-top: 0.5px solid #8F8F8F;
}

#desafio img {
    border-radius: 16px;
    width: 100%;
}

#desafio .desafio-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#desafio .desafio-conteudo .jogador {
    display: flex;
    gap: 10px;
    font-size: 45px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

#desafio .desafio-conteudo .jogador .circulo {
    width: 50px;
    height: 50px;
    border: 2.5px solid #000000;
    border-radius: 100px;
}

#desafio .desafio-conteudo #botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 33vw;

}

#desafio .desafio-conteudo #botoes .botao {
    border: 1px solid #000000;
    width: 15vw;
    padding: 10px;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#desafio .desafio-conteudo #botoes .correto {
    background-color: #68D585;
    color: #FFFFFF;
    border: none;
}

#desafio .desafio-conteudo #botoes .errado {
    background-color: #E26B6B;
    color: #FFFFFF;
    border: none;
}

#desafio .desafio-conteudo #explicacao {
    width: 33vw;
    align-self: flex-start;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

#desafio .desafio-conteudo #explicacao h1 {
    font-size: 40px;
}

#desafio .desafio-conteudo #explicacao p {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.pretas {
    background-color: #000000;
}

/* LISTA DESAFIOS */

#listaDesafios {
    display: flex;
    gap: 30px;
    padding: 30px 0px 30px 0px;
    border-top: 0.5px solid #8F8F8F;
    width: 100%;
    flex-wrap: wrap;

}   

#listaDesafios .desafioListado{
    border: 5px #4179b2 solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
}

#listaDesafios .selecionado {
    border-color: #4179b2;
    background-color: #4179b2;
    color: #FFFFFF;
}

.hide {
    display: none !important;
}
