@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'DM Sans', sans-serif;
}

a {
    all: unset;
}

/* NAVBAR */

#navbar {
    width: 16vw;
    height: 100vh;
    background-color: #4179b2;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
}

#logo {
    width: 70%;
    align-self: center;
    margin-top: 20px;
}

#paginas {
    margin-bottom: 200px;
}

#navbar .navbar-link {
    display: flex;
    gap: 10px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 10px;
}

#navbar .navbar-link p {
    font-size: 34px;
    color: #FFFFFF;
    font-weight: 600;
}

#navbar .selecionado {
    background-color: #5f9bd8;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desconectar {
    align-self: center;
}